* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}

.container, .container2
{
	width: 80%;
	margin: 0 auto;
}

#app-select
{
	display: flex;
	justify-content:space-between;
}
img
{
	width: 100%;
}
.containerRight{
	height: 350px;
	background-color: #333333;
}
.containerRight label{
	color:#fff;
}
