html,
body{
	background-color: #EBEBEB;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

header,
section{
	color: #fff;
	background: #5C5C66;
}

h1{
	font-family: 'Rokkitt', serif;
}
.container, .container2
{
	/*background: #4D4D59;*/
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}

#app-select
{
	display: flex;
	justify-content:space-between;
}

label,
input{
	color:#000;
}
img
{
	width: 100%;
}
.containerRight{
	height: 350px;
	background-color: #333333;
}
.containerRight label{
	color:#fff;
}
.float{
	float: right;
}
hr{
	margin-left: 0;
	width: 60px;
	color: black;
	border-style: solid;
}
